In [1]:
!pip install duckdb

Requirement already satisfied: duckdb in c:\users\adret\appdata\local\programs\python\python38\lib\site-packages (0.9.2)

WARNING: You are using pip version 21.1.1; however, version 23.3.1 is available.
You should consider upgrading via the 'c:\users\adret\appdata\local\programs\python\python38\python.exe -m pip install --upgrade pip' command.

In [2]:
import duckdb as db

In [3]:
import pandas as pd

In [4]:
# Load the data
orders_df = pd.read_csv("./order_items.csv")
users_df = pd.read_csv("./users.csv")

In [5]:
# Query Simulation
db.sql("SELECT * FROM users_df")

┌───────┬────────────┬───────────┬───┬──────────────┬──────────────┬────────────────┬──────────────────────┐
│  id   │ first_name │ last_name │ … │   latitude   │  longitude   │ traffic_source │      created_at      │
│ int64 │  varchar   │  varchar  │   │    double    │    double    │    varchar     │       varchar        │
├───────┼────────────┼───────────┼───┼──────────────┼──────────────┼────────────────┼──────────────────────┤
│ 40112 │ Robert     │ Martin    │ … │  34.85181443 │  136.5087133 │ Search         │ 2019-03-01 01:22:0…  │
│  4646 │ Stephen    │ Dudley    │ … │ -9.945567619 │ -67.83560991 │ Search         │ 2023-02-14 18:56:0…  │
│  5801 │ David      │ Smith     │ … │ -9.945567619 │ -67.83560991 │ Search         │ 2023-08-13 00:55:2…  │
│ 22001 │ Timothy    │ Anderson  │ … │ -9.945567619 │ -67.83560991 │ Search         │ 2022-12-03 11:15:0…  │
│ 39207 │ Erik       │ Johnson   │ … │ -9.945567619 │ -67.83560991 │ Search         │ 2021-08-21 18:41:0…  │
│ 42481 │ Shelby     │ Lane      │ … │ -9.945567619 │ -67.83560991 │ Search         │ 2021-06-11 03:59:0…  │
│ 63144 │ Jared      │ Taylor    │ … │ -9.945567619 │ -67.83560991 │ Search         │ 2019-03-30 07:01:0…  │
│ 66272 │ Melanie    │ Graham    │ … │ -9.945567619 │ -67.83560991 │ Facebook       │ 2021-12-11 09:16:0…  │
│ 88228 │ Robert     │ Bonilla   │ … │ -9.945567619 │ -67.83560991 │ Search         │ 2020-03-27 09:53:0…  │
│ 89168 │ Alexis     │ Gonzales  │ … │ -9.945567619 │ -67.83560991 │ Search         │ 2023-07-12 01:37:0…  │
│   ·   │   ·        │   ·       │ · │       ·      │       ·      │   ·            │          ·           │
│   ·   │   ·        │   ·       │ · │       ·      │       ·      │   ·            │          ·           │
│   ·   │   ·        │   ·       │ · │       ·      │       ·      │   ·            │          ·           │
│ 92154 │ Courtney   │ White     │ … │  43.85274812 │  125.3429264 │ Organic        │ 2019-08-31 09:16:0…  │
│ 96909 │ Michael    │ Browning  │ … │  43.85274812 │  125.3429264 │ Search         │ 2021-12-15 08:09:0…  │
│  2337 │ Scott      │ Murray    │ … │  43.88109631 │  125.3893404 │ Search         │ 2022-11-29 15:38:0…  │
│  4806 │ Amy        │ Nunez     │ … │  43.88109631 │  125.3893404 │ Search         │ 2021-08-24 12:33:0…  │
│ 15734 │ Jeffery    │ Rodriguez │ … │  43.88109631 │  125.3893404 │ Search         │ 2021-07-13 18:11:0…  │
│ 19627 │ Tiffany    │ Wagner    │ … │  43.88109631 │  125.3893404 │ Email          │ 2022-08-06 06:40:0…  │
│ 20209 │ Cheyenne   │ Humphrey  │ … │  43.88109631 │  125.3893404 │ Search         │ 2019-04-07 00:17:0…  │
│ 36880 │ Shannon    │ Anthony   │ … │  43.88109631 │  125.3893404 │ Search         │ 2022-03-20 03:37:0…  │
│ 40696 │ Robin      │ Perry     │ … │  43.88109631 │  125.3893404 │ Search         │ 2023-01-07 09:31:0…  │
│ 41870 │ Nicholas   │ Moreno    │ … │  43.88109631 │  125.3893404 │ Search         │ 2021-12-12 04:27:0…  │
├───────┴────────────┴───────────┴───┴──────────────┴──────────────┴────────────────┴──────────────────────┤
│ ? rows (>9999 rows, 20 shown)                                                       15 columns (7 shown) │
└──────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [6]:
# Query -> DataFrame Simulation
db.sql("SELECT * FROM users_df").df()

,id,first_name,last_name,email,age,gender,state,street_address,postal_code,city,country,latitude,longitude,traffic_source,created_at
0,40112,Robert,Martin,robertmartin@example.com,41,M,Mie,8560 Paul Station Apt. 589,513-0836,Suzuka City,Japan,34.851814,136.508713,Search,2019-03-01 01:22:00 UTC
1,4646,Stephen,Dudley,stephendudley@example.net,60,M,Acre,6531 Dixon Trace,69917-400,Rio Branco,Brasil,-9.945568,-67.835610,Search,2023-02-14 18:56:00 UTC
2,5801,David,Smith,davidsmith@example.com,38,M,Acre,403 Chris Island,69917-400,Rio Branco,Brasil,-9.945568,-67.835610,Search,2023-08-13 00:55:22.961196 UTC
3,22001,Timothy,Anderson,timothyanderson@example.org,14,M,Acre,494 Anna Unions Suite 031,69917-400,Rio Branco,Brasil,-9.945568,-67.835610,Search,2022-12-03 11:15:00 UTC
4,39207,Erik,Johnson,erikjohnson@example.net,21,M,Acre,01619 Jermaine Summit,69917-400,Rio Branco,Brasil,-9.945568,-67.835610,Search,2021-08-21 18:41:00 UTC
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,56240,Jill,Williams,jillwilliams@example.com,42,F,Jeju Special Self-Governing Province,59475 Gordon Lane,699-920,Seogwipo City,South Korea,33.280208,126.346231,Organic,2020-03-09 16:54:00 UTC
99996,25529,Gary,Bush,garybush@example.net,70,M,Jeju Special Self-Governing Province,786 Jason Cliff,699-930,Seogwipo City,South Korea,33.220465,126.237860,Facebook,2022-08-25 05:13:00 UTC
99997,34753,Christine,Villa,christinevilla@example.org,37,F,Jeju Special Self-Governing Province,2904 Joseph Center,699-930,Seogwipo City,South Korea,33.220465,126.237860,Search,2021-05-20 17:21:00 UTC
99998,41849,Jennifer,Perez,jenniferperez@example.org,70,F,Jeju Special Self-Governing Province,499 Jack Knolls,699-930,Seogwipo City,South Korea,33.220465,126.237860,Search,2019-12-23 04:58:00 UTC
99999,67772,Justin,Ramirez,justinramirez@example.net,30,M,Jeju Special Self-Governing Province,78251 Emily Freeway,699-940,Seogwipo City,South Korea,33.305744,126.675429,Search,2021-02-24 05:48:00 UTC

In [7]:
# Custom Query Function
def query(sql_query:str) -> pd.DataFrame:
    return db.sql(sql_query).df()

In [8]:
# Filter Query
male_users = query("SELECT * FROM users_df WHERE gender = 'M'")
male_users.head()

,id,first_name,last_name,email,age,gender,state,street_address,postal_code,city,country,latitude,longitude,traffic_source,created_at
0,40112,Robert,Martin,robertmartin@example.com,41,M,Mie,8560 Paul Station Apt. 589,513-0836,Suzuka City,Japan,34.851814,136.508713,Search,2019-03-01 01:22:00 UTC
1,4646,Stephen,Dudley,stephendudley@example.net,60,M,Acre,6531 Dixon Trace,69917-400,Rio Branco,Brasil,-9.945568,-67.835610,Search,2023-02-14 18:56:00 UTC
2,5801,David,Smith,davidsmith@example.com,38,M,Acre,403 Chris Island,69917-400,Rio Branco,Brasil,-9.945568,-67.835610,Search,2023-08-13 00:55:22.961196 UTC
3,22001,Timothy,Anderson,timothyanderson@example.org,14,M,Acre,494 Anna Unions Suite 031,69917-400,Rio Branco,Brasil,-9.945568,-67.835610,Search,2022-12-03 11:15:00 UTC
4,39207,Erik,Johnson,erikjohnson@example.net,21,M,Acre,01619 Jermaine Summit,69917-400,Rio Branco,Brasil,-9.945568,-67.835610,Search,2021-08-21 18:41:00 UTC

In [9]:
# Aggregation
gender_users_count = query("SELECT gender, COUNT(id) as total FROM users_df GROUP BY gender")
gender_users_count

  gender  total
0      F  50144
1      M  49856

In [10]:
# Aggregation
male_users_count = query("SELECT gender, COUNT(id) as total FROM users_df GROUP BY gender HAVING gender = 'M'")
male_users_count

  gender  total
0      M  49856

In [11]:
# Aggregation
male_users_count = query("SELECT 'MALE' as gender, COUNT(CASE WHEN gender = 'M' THEN id ELSE NULL END) as total FROM users_df")
male_users_count

  gender  total
0   MALE  49856

In [12]:
# Join (INNER)
user_orders_df = query(
    """
        SELECT * FROM orders_df JOIN
        users_df ON orders_df.user_id = users_df.id
    """
)
user_orders_df[['id','order_id','user_id','status']].head()

      id  order_id  user_id    status
0  14858     10174     8188  Complete
1  15162     10390     8346  Complete
2  15641     10730     8630  Complete
3  16895     11601     9339  Complete
4  21356     14679    11804  Complete

In [13]:
# Join (LEFT/RIGHT/FULL)
user_orders_df = query(
    """
        SELECT * FROM orders_df LEFT JOIN
        users_df ON orders_df.user_id = users_df.id
    """
)
user_orders_df[user_orders_df['user_id'].isna() | user_orders_df['id'].isna()].head()

Empty DataFrame
Columns: [id, order_id, user_id, product_id, inventory_item_id, status, created_at, shipped_at, delivered_at, returned_at, sale_price, id_2, first_name, last_name, email, age, gender, state, street_address, postal_code, city, country, latitude, longitude, traffic_source, created_at_2]
Index: []

[0 rows x 26 columns]

# REVIEW CASE

In [14]:
orders_df.head()

,id,order_id,user_id,product_id,inventory_item_id,status,created_at,shipped_at,delivered_at,returned_at,sale_price
0,16000,10975,8831,13606,43216,Complete,2020-09-14 17:59:04 UTC,2020-09-16 12:05:00 UTC,2020-09-17 21:47:00 UTC,NaN,2.5
1,58903,40591,32637,13606,159361,Complete,2023-07-26 06:59:00 UTC,2023-07-28 07:38:00 UTC,2023-08-01 06:03:00 UTC,NaN,2.5
2,160715,110826,88857,13606,434265,Returned,2023-07-11 05:19:49 UTC,2023-07-12 13:45:00 UTC,2023-07-12 21:41:00 UTC,2023-07-13 21:15:00 UTC,2.5
3,40331,27796,22443,28951,109154,Shipped,2023-06-01 17:44:45 UTC,2023-06-04 17:26:00 UTC,NaN,NaN,3.0
4,83959,57928,46609,28951,227036,Shipped,2023-06-28 05:57:34 UTC,2023-06-29 16:56:00 UTC,NaN,NaN,3.0

## How much top 10 ordered products shares in the earliest year?

In [15]:
earliest_top_10 = query(
    """
    SELECT
        product_id,
        COUNT(product_id) as total_order
    FROM
        (
            SELECT product_id, created_at[:4]::INT FROM orders_df
            WHERE created_at[:4]::INT = 2019
        )
    GROUP BY product_id
    ORDER BY 2 DESC
    LIMIT 10
    """)
earliest_top_10

   product_id  total_order
0       24032            4
1        4674            3
2       19339            3
3       27346            3
4        7052            3
5       21378            3
6       24036            3
7        6408            3
8       20804            3
9       28031            3

In [16]:
top_10_2020 = query(
    """
    SELECT
        product_id,
        COUNT(product_id) as total_order
    FROM
        (
            SELECT product_id, created_at[:4]::INT FROM orders_df
            WHERE created_at[:4]::INT = 2020
        )
    GROUP BY product_id
    ORDER BY 2 DESC
    LIMIT 10
    """)
top_10_2020

   product_id  total_order
0       25142            6
1        6894            6
2       16811            5
3       23981            5
4       11009            5
5        7650            5
6       16064            5
7       23930            5
8       27365            4
9       16168            4

In [17]:
# Pie chart using Plotly (Interactive)
from plotly.subplots import make_subplots
import plotly.graph_objects as go

fig = make_subplots(rows=1, cols=2, specs=[[{'type':'domain'}, {'type':'domain'}]])

fig.add_trace(go.Pie(labels=earliest_top_10['product_id'], values=earliest_top_10['total_order'], name="2019"),
              row=1, col=1)

fig.add_trace(go.Pie(labels=top_10_2020['product_id'], values=top_10_2020['total_order'], name="2020"),
              row=1, col=2)

fig.update_traces(hole=.4, hoverinfo="label+percent+name")

fig.update_layout(title_text="Ordered Product Shares",
                  annotations=[
                    dict(text='2019', x=0.18, y=0.5, font_size=20, showarrow=False),
                    dict(text='2020', x=0.82, y=0.5, font_size=20, showarrow=False)
                ])
fig.show()

In [21]:
gender_ratio = query(
    """
    SELECT
        gender,
        COUNT(gender) as pesanan
    FROM
        (
            SELECT * FROM orders_df JOIN
        users_df ON orders_df.user_id = users_df.id
            WHERE orders_df.created_at[:4]::INT = 2020
        )
    GROUP BY gender
    ORDER BY 2 DESC
    """)
gender_ratio

  gender  pesanan
0      F     7470
1      M     7439

In [37]:
gender_order = query(
    """
    SELECT
        gender,
        COUNT(gender) as pesanan
    FROM
        (
            SELECT gender FROM orders_df
            JOIN users_df ON orders_df.created_at[:4]::INT = 2020
        )
    GROUP BY gender
    ORDER BY 2 DESC
    """)
gender_order

  gender    pesanan
0      F  747596896
1      M  743303104

In [36]:
gen = query(
    """
    SELECT
        gender,
        COUNT(gender) as total_order_gender
    FROM
        (
            SELECT * FROM orders_df
            JOIN users_df ON orders_df.product_id = users_df.id
            WHERE orders_df.created_at[:4]::INT = 2020
        )
    GROUP BY gender
    ORDER BY 2 DESC
    """)
gen

  gender  total_order_gender
0      F                7477
1      M                7432